.main-container{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.break{
  width: 90%;
  height: 2px;
  background-color: #e4e4e4; 
}
@media (max-width: 600px) {
  footer{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}